*{
  padding:0;
  margin:0;
}

body{
margin: 0;
display:flex;
justify-content: center;

}

#container{

  width: 1000px;

}
header{

  background: grey;
  height: 120px;
  padding: 10px
}

.bovenbalk{

  background-color: rgb(255, 255, 255);
  display:flex;
  justify-content: space-between;

  border-style: solid;
  border-width: 2px;
  
}



.bovenbalk .menurechts{

display: flex;
align-items: flex-start;

  padding: 10px;
}
.bovenbalk .menulinks{
  display: flex;
  align-items: flex-start;
  
    padding: 10px;

}

#cars{

  width: 200px;
  height: 35px;
}

.onderbalk{
  background-color: rgb(255, 255, 255);
  display:flex;
  justify-content: space-between;

  border-style: solid;
  border-width: 2px;
}


.onderbalk .menurechts1{
  display: flex;
  align-items: flex-start;
  
    padding: 10px;


}
main{

  display: flex;
  flex-direction: row;
  
background: rgb(155, 140, 140)


}

.product{
  width: 180px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  padding:10px;
  display: flex;
  flex-direction: column;
}


footer{
height: 100px;
background:black;
color: white;

}

#filter{

  background: blue;
  display: inline;
  
}