*{
  padding:0;
  margin:0;
}

body{
margin: 0;
display:flex;
justify-content: center;

}

#container{

  width: 1000px;

}
header{

  background: grey;
  height: 120px;
  padding: 10px
}

.bovenbalk{

  background-color: rgb(255, 255, 255);
  display:flex;
  justify-content: space-between;

  border-style: solid;
  border-width: 2px;
  
}



.bovenbalk .menurechts{

display: flex;
align-items: flex-start;

  padding: 10px;
}
.bovenbalk .menulinks{
  display: flex;
  align-items: flex-start;
  
    padding: 10px;

}

#cars{

  width: 200px;
  height: 35px;
}

.onderbalk{
  background-color: rgb(255, 255, 255);
  display:flex;
  justify-content: space-between;

  border-style: solid;
  border-width: 2px;
}


.onderbalk .menurechts1{
  display: flex;
  align-items: flex-start;
  
    padding: 10px;


}



.menulinks1{

width: 100px;
height: 100px;
}
main{

  display: flex;
  flex-direction: row;
  
background: rgb(155, 140, 140)



}

.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.product{
  width: 180px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  padding:10px;
  display: flex;
  flex-direction: column;
  
}

.product1{
  width: 170px;
  height: 240px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  padding:5px;
  display: flex;
  flex-direction: column;
  
}
.product2{
  width: 170px;
  height: 240px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  padding:5px;
  display: flex;
  flex-direction: column;
}
.product3{
  width: 170px;
  height: 240px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  padding:5px;
  display: flex;
  flex-direction: column;

}
.product5{
margin-top: 20px;
height: 250px;
}
.onderp1{

display: flex;
flex-direction:row;
justify-content:space-between;

}

.onderlinksp1{

width: 100px;
height: 100px;

}
.productnaam1{

  font-size: 15px;
  padding: 10px;
}




.onderrechtsp1{

  
  height: 50px;
  width: 30px
}
footer{
height: 250px;
border-style: solid;
border-width: 2px;


}
.footerboven{

height: 200px;
}

.footeronder{

height: 43px;
display: flex;
align-items: center;
color: black;
border-style: solid;
  border-width: 5px;
}
#filter{
  border-style: solid;
  border-width: 5px;
 
  display: inline;
  width: 400px;
  background: rgb(155, 140, 140)
 
}
