*{
  padding:0;
  margin:0;
}

body{
margin: 0;
display:flex;
justify-content: center;

}

#container{

 

}
header{

  background: rgb(0, 0, 0);
  height: 120px;
  padding: 0px
}

.bovenbalk{

  background-color: rgb(194, 162, 162);
  display:flex;
  justify-content: space-between;

  border-style: solid;
  border-width: 2px;
  
}



.bovenbalk .menurechts{

display: flex;
align-items: flex-start;

  padding: 10px;
  font-size: 20px;
}
.bovenbalk .menulinks{
  display: flex;
  align-items: flex-start;
  
    padding: 10px;
    font-size: 15px;
}

#cars{

  width: 200px;
  height: 41px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #000000;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #000000;
  background: #393838;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#winkelmandItems{

margin-left: 32px;
margin-top: -19px;
}

.onderbalk{
  background-color: rgb(134, 120, 120);
  display:flex;
  justify-content: space-between;

  border-style: solid;
  border-width: 2px;
}


.onderbalk .menurechts1{
  display: flex;
  align-items: flex-start;
  
    padding: 10px;
    margin-right: 50px;

    font-size: 20px;
}



.menulinks1{

width: 100px;
height: 100px;
}

.logomeneuboven{
margin-top: -17px;
  width: 100px;
  height: 88px;
}
main{

  display: flex;
  flex-direction: row;
  
background: rgb(56, 53, 53)



}

.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.product{
  width: 210px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  padding:10px;
  display: flex;
  flex-direction: column;
  
}

.product1{
  width: 170px;
  height: 240px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  padding:5px;
  display: flex;
  flex-direction: column;
  
}
.product2{
  width: 170px;
  height: 240px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  padding:5px;
  display: flex;
  flex-direction: column;
}
.product3{
  width: 170px;
  height: 240px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  padding:5px;
  display: flex;
  flex-direction: column;

}
.product4{
  
    width: 170px;
    height: 240px;
    background-color: white;
    border-radius: 20px;
    margin:6px;
    margin-left: 20px;
    padding:5px;
    display: flex;
    flex-direction: column;
  
}
.product5{
margin-top: 20px;
height: 250px;
}
.product11{

  width: 170px;
  height: 190px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  margin-left: 20px;
  padding:5px;
  display: flex;
  flex-direction: column;
}
.product13{
  width: 170px;
  height: 190px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  margin-left: 20px;
  padding:5px;
  display: flex;
  flex-direction: column;

}
.product14{
  width: 170px;
  height: 190px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  margin-left: 20px;
  padding:5px;
  display: flex;
  flex-direction: column;

}
.product15{
  width: 170px;
  height: 190px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  margin-left: 20px;
  padding:5px;
  display: flex;
  flex-direction: column;
}
.product17{
  width: 170px;
  height: 190px;
  background-color: white;
  border-radius: 20px;
  margin:6px;
  margin-left: 20px;
  padding:5px;
  display: flex;
  flex-direction: column;
}
.onderp1{

display: flex;
flex-direction:row;
justify-content:space-between;

}

.onderlinksp1{

width: 100px;
height: 100px;

}
.productnaam1{

  font-size: 15px;
  padding: 10px;
}




.onderrechtsp1{

  
  height: 50px;
  width: 30px
}
footer{
height: 250px;
border-style: solid;
border-width: 2px;


}
.footerboven{
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-evenly;
height: 200px;

}

.footeronder{

height: 43px;
display: flex;
align-items: center;
color: black;
border-style: solid;
  border-width: 5px;
}
#filter{
  border-style: solid;
  border-width: 5px;
 
  display: inline;
  width: 400px;
  background: rgb(56, 53, 53)
 
}

.categorieëenbox{
  margin-right: 10px;
  margin-top: 40px;
 margin-left: 10px;
background-color: aliceblue;
width: 180px;
height: 170px;
border-radius: 20px;
box-shadow: 7px 7px;

}
.categorieëenboxtext{

margin-left: 17px;


}
.catboxboven{
  font-size: 20px;
  width: 170px;
  height: 30px;
  display: flex;
  justify-content: center;
  
}
.over_ons_vak{
margin-top: 15px;
width: 200px;
height: 165px;
}
.klantenservice_vak{
  margin-top: 15px;
  width: 200px;
  height: 165px;
}
.leveringskosten_vak{

  margin-top: 15px;
 
  width: 200px;
  height: 165px;

}
.over_ons_onder{

height: 85px;
margin-left: 20px;

}
.ul.a {
  list-style-type: circle;
}

.over_ons_boven{
margin-top: 40px;
  display: flex;
  justify-content: center;

  width: 200px;
  height: 40px;
}
.over_ons_text{

font-size: 30px;


}
#middenstreepfooter{

font-size: 160px;

}
.rangesliderbox{


  background-color: white;
}